* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", system-ui, sans-serif;
  line-height: 1.5;
}

.header {
  position: relative;
  min-height: 100vh;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 85%,
    50% 100%,
    0 85%
  );
  overflow: hidden;
}

/* Fondo */
.header::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  z-index: -2;
}

/* Oscurecedor */
.header::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35); /* controla el brillo aquí */
  z-index: -1;
}


.header > * {
  position: relative;
  z-index: 1;
}



.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 24px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 16px;
}


/* Mobile First */
.nav__links {
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 24px 0;
  list-style: none;

  display: none;
}


.nav__links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav__links.active {
  display: flex;
}


.nav__social {
  display: none;
}

.nav__toggle {
  background: none;
  border: none;
  cursor: pointer;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;        
  align-items: center;            
  text-align: center;
  gap: 10px;
  padding: 30px 20px;
  min-height: 750px;
}

.hero h2 {
  font-size: 48px;
  font-weight: 400;
  color: white;
}

.hero h4 {
  font-size: 28px;
  font-weight: 400;
  color: white;
  margin: 16px 0;
}


/* Desktop */
@media (min-width: 1024px) {

  .nav {
    position: relative;
    justify-content: space-between;
    gap: 48px;
    margin: 0 5%;
  }

  .nav__toggle {
    display: none;
  }

  .nav__links {
    width: auto;
    position: static;
    display: flex;
    flex-direction: row;
    background: transparent;
    padding: 0;
    gap: 32px;
    order: 1;
    flex-grow: 0;
  }

  .nav__links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }

  .nav__links a:hover {
    text-decoration: underline;
  }

  .nav__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    order: 2;
  }

  .nav__logo img {
    height: 32px;
  }

  .nav__social {
    display: flex;
    gap: 16px;
    order: 3;
    margin-left: auto;
  }

}